{% extends "boot.html" %}
{%block content%}

<h1>MOTIVATION COLORADO</h1>

{% for i in tool %}

<p>{{i}}</p>

{%endfor%}

<div class="form-group row">
  <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Tester</label>
  <div class="col-sm-2">
    <input type="text" name = tester class="form-control form-control-sm" id="doesit" placeholder=6 value=6>
  </div>
</div>
<button id=clickme onclick="clickme"> Power Play </button><br>
<span id=rez>{{first}}</span><br>
<p id=textbox>{{tool[-1]}}</p><br>

<script type=text/javascript>
  $('#clickme').click(function (e) {
    e.preventDefault();
    var test = document.getElementById('doesit').value;
    var data = {
      slide: test,
      year: 2004,
      gfa: 50000,
      sponsor: "guys"
    };
    console.log(test)
    var val = data;
    console.log(val);
    alert(val);
    $.ajax({
      url: "{{ url_for('main.ajar') }}",
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(data),
      dataType: 'json',
      success: function (resp) {
        console.log(resp);
        $('#rez').val(resp);
        alert(JSON.stringify(resp));
      },
    });
  });
</script>
{%endblock%}
