{% extends 'base.html' %}

{% block content %}

<h1 class="title">
  Riverside Investment & Development
</h1>
<h2 class="subtitle">
  Play Drone Video Below or Login to Access the Development Analysis
</h2>

<div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://player.vimeo.com/video/321771566?autoplay=1&loop=1" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow=autoplay></iframe>
</div>

<div id='image-caption'>
    <p>Aerial view south along the Tribune Property</p>
</div>
{% endblock %}
