{% extends 'boot.html' %}

{% block content %}

<! -- create container -- >
<div class="row">
  <div class="col-3">
    <!-- Panel Header-->
    <h1>Downtown Chicago</h1>
    <h5>20 Years | Urban Development</h5>
      <!-- Button & Slider Interface-->
      <div id="controls" class="row">
        <div class="col-md-12">
          <!-- radio placeholder -->
          <form id="my_radio_box">
            <input type="radio" name="my_options" value="Existing"> Existing
            <input type="radio" name="my_options" value="Planned"> Planned
            <input type="radio" name="my_options" value="All"> All
          </form>

          <button id="play-button" class="btn btn-primary">Play</button>
          <div id="slider-div">
            <label>Year: <span id="year-label"></span></label>
            <div id="date-slider"></div>
          </div>
          <!-- Create Submarket Tables-->
          <table class="table table-striped table-sm">
              <thead>
                  <tr>
                      <th>Submarket</th>
                      <th>Built GFA</th>
                      <th>Share</th>
                  <tr>
              </thead>
              <tbody>
                  <tr>
                    <td><span id="fig1">-</span></td>
                    <td><span id="fig2">0</span></td>
                    <td><span id="fig3">0</span></td>
                  </tr>
                  <tr>
                    <td><span id="fig4">-</span></td>
                    <td><span id="fig5">0</span></td>
                    <td><span id="fig6">0</span></td>
                  </tr>
                  <tr>
                    <td><span id="fig7">-</span></td>
                    <td><span id="fig8">0</span></td>
                    <td><span id="fig9">0</span></td>
                  </tr>
                  <tr>
                    <td><span id="fig10">-</span></td>
                    <td><span id="fig11">0</span></td>
                    <td><span id="fig12">0</span></td>
                  </tr>
                  <tr>
                    <td><span id="fig13">-</span></td>
                    <td><span id="fig14">0</span></td>
                    <td><span id="fig15">0</span></td>
                  </tr>
              </tbody>
          </table>
        </div>
        <!-- Create Plotly Bar Chart-->
        <div class="chart" id="bargraph"></div>
      </div>
  </div>
   <!-- Map Column -->
  <div class="col-9">
    <div id='map'></div>
  </div>
</div>

<script>
// initialize button loop
let time = 2000;
let interval;

function step() {
  time = (time == 2024) ? 2000 : time + 1;
  //updated slider position for button
  $("#date-slider").slider("value", time);
  //update year time for button
  document.getElementById("year-label").innerHTML = time
}

$("#play-button").on("click", function() {
  const button = $(this);
  if (button.text() === "Play"){
    button.text("Pause");
    interval = setInterval(step, 400)
  } else {
    button.text("Play");
    clearInterval(interval);
  }
});

$(document).ready(function(){
  $("#date-slider").slider({
    max: 2024,
    min: 2000,
    step: 1,
    value: time,
    slide: function( event, ui ) {
      time = ui.value;
      document.getElementById("year-label").innerHTML = time;
      var slide_value = {yr: time};
      console.log("slider");
      console.log(slide_value.yr);
      //alert(JSON.stringify(data.yr));
        $.ajax({
          url: "{{ url_for('main.supply') }}",
          async: false,
          type: "POST",
          contentType: 'application/json',
          data: JSON.stringify(slide_value),
          dataType: 'json',
          success: function(response) {
              console.log("response yr");
              var ajaxResult = response.yr;
              console.log(ajaxResult);
              var table = response.table;
              console.log("ajax table response")
              console.log(table)

              chops = JSON.parse(response.data);
              console.log("GLOBAL ajax geojson response");
              console.log(chops);

              console.log("ajax table response");
              var plot = response.plot;
              console.log(plot);
              //response.sort()
              // first row
              $("#fig1").html(table[0].submarket.toLocaleString());
              $("#fig2").html(table[0].gfa.toLocaleString());
              $("#fig3").html(table[0].pct.toLocaleString(undefined,{style: 'percent', minimumFractionDigits:1}));

              // second row
              $("#fig4").html(table[1].submarket.toLocaleString());
              $("#fig5").html(table[1].gfa.toLocaleString());
              $("#fig6").html(table[1].pct.toLocaleString(undefined,{style: 'percent', minimumFractionDigits:1}));

              // third row
              $("#fig7").html(table[2].submarket.toLocaleString());
              $("#fig8").html(table[2].gfa.toLocaleString());
              $("#fig9").html(table[2].pct.toLocaleString(undefined,{style: 'percent', minimumFractionDigits:1}));

              // fourth row
              $("#fig10").html(table[3].submarket.toLocaleString());
              $("#fig11").html(table[3].gfa.toLocaleString());
              $("#fig12").html(table[3].pct.toLocaleString(undefined,{style: 'percent', minimumFractionDigits:1}));

              // fifth row
              $("#fig13").html(table[4].submarket.toLocaleString());
              $("#fig14").html(table[4].gfa.toLocaleString());
              $("#fig15").html(table[4].pct.toLocaleString(undefined,{style: 'percent', minimumFractionDigits:1}));

              //alert(typeof(props));

          },
        });
      }
    });
});

var props;
props = {{ data | safe }};
console.log("Import data from server");
console.log(props);
console.log("Import complete");

//Mapbox GL JS SCRIPT
mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mpotter/ck3ukxqlq0od01cnhven0r0ki',
  center: [-87.632574, 41.886570],
  zoom: 13.95
});

map.on('load', function() {
    map.addSource('delivered',
      {'type': 'geojson',
      data: props
      }
    );

    map.addLayer({
      'id': 'property-circles',
      'type': 'circle',
      'source': 'delivered',
      'paint': {
        'circle-color': [
          'match',
          [
            'get', 'use'
          ],
          'Resi',
          '#fbb03b',
          'Office',
          '#0E9447',
          /*other*/
          '#7f00ff'
        ],
        'circle-opacity': .75,
        'circle-radius': [
          'interpolate',
          ['linear'],
          [
            'number',
            [
              'get', 'gfa'
            ]
          ],
          50000,
          7.5,
          900000,
          35
        ]
      }
    });
    map.addLayer({
      'id': 'property-labels',
      'type': 'symbol',
      'source': 'delivered',
      'layout': {
        'text-field': [
          'to-string',
          [
            'get', 'project'
          ]
        ],
        'text-font': [
          'Open Sans Bold', 'Arial Unicode MS Bold'
        ],
        'text-size': [
          'interpolate',
          ['linear'],
          ['zoom'],
          4,
          9,
          6,
          12
        ],
        'text-max-width': 5
      },
      'paint': {
        'text-color': 'rgba(0,0,0,0.5)'
      }
    });


    //add layers for blip
    map.addSource('point', {
      "type": "geojson",
      "data": {
        "type": "Point",
        "coordinates": [-87.642820, 41.891868]
      }
    });
    map.addLayer({
      "id": "point",
      "source": "point",
      "type": "circle",
      "paint": {
        "circle-radius": initialRadius,
        "circle-radius-transition": {
          duration: 0
        },
        "circle-opacity-transition": {
          duration: 0
        },
        "circle-color": "#256DFC"
      }
    });
    map.addLayer({
      "id": "point1",
      "source": "point",
      "type": "circle",
      "paint": {
        "circle-radius": initialRadius,
        "circle-color": "#2558BD"
      }
    });
    animateMarker(0);
    console.log("mapbox input data check");
    console.log(props);
    console.log("end");
});



//bar chart functionality, not added to response yet
var graphs = {{plot | safe}};
Plotly.plot('bargraph',graphs,{});

//radio buttons
$(document).ready(function(){
    $('#my_radio_box').change(function(){
        selected_value = $("input[name='my_options']:checked").val();
        alert(selected_value);
    });
});
</script>
{% endblock %}
